$c-black: #0c090d;
$c-black-blue: #0d1c2e;
$c-v-black: #000;

$c-white: #ffffff;
$c-d-white: #fafbff;

// mains
$c-pink: #ff3366;
$c-yellow: #f9c22e;
$c-blue: #2a8bf2;
$c-green: #0dab76;

// lights
$c-l-blue: #e6ecfe;

// grays
$c-gray: #b3b3b3;
$c-gray-blue: #707c97;
$c-gray-mid: #333;
$c-gray-light: #e7e7e7;
$c-gray-background: #f5efed;

// gradiends

$g-blue: linear-gradient(100.61deg, #7cb8f7 0%, #2a8bf2 100%);
$g-background-blue: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%);

// box-shadow presets
$box-shadow-blue: 10px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05),
  6px 6px 25px rgba(42, 139, 242, 0.15);
$box-shadow-blue-light: 0px 5px 25px rgba(42, 139, 242, 0.07), 0px 7px 25px rgba(42, 139, 242, 0.03),
  0px 10px 15px rgba(0, 0, 0, 0.03);
$box-shadow-white-box: 0px 10px 25px rgba(0, 0, 0, 0.05), 0px 10px 55px rgba(0, 0, 0, 0.05);
